html{
	background-image: url("../images/ram1.jpg");
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;

}
body{
	
}
div{
	background-color: white;
}
p{
	font-size: 250px;
	margin: 0px;
}
.name{
	color: cyan;
}

.name-container{
	background-color: black;
}